.main {
  width: 100%;
  height: 100%;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 1fr;
  justify-items: center;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.list {
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: 1fr;
}

@media (max-width: 1600px) {
  .catalog-wrapper {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .catalog-wrapper {
    max-width: 1000px;
  }
}
@media (max-width: 768px) {
  .catalog-wrapper {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
  }
}
@media (max-width: 576px) {
  .catalog-wrapper {
    grid-template-columns: repeat(1, 1fr);
    max-width: 500px;
  }
}
