.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.2rem 0;
}

.search-input {
  width: 95%;
  height: 2.5rem;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  text-indent: 5px;
}

.search-title {
  position: absolute;
  pointer-events: none;
  left: 2rem;
  top: 2.6rem;
  color: var(--gray-color);
  transition: 0.2s ease all;
}

.search-input:focus {
  outline: 1px solid var(--gray-color);
}

.search-input:focus ~ .search-title,
.search-input:not(:focus):valid ~ .search-title {
  top: 0.6rem;
  bottom: 5rem;
  left: 2rem;
  font-size: 1.1rem;
  opacity: 1;
}
