.checkout-page-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 3;
}

.checkout-modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 1.6rem;
  padding: 5rem 10rem;
  opacity: 1;
  gap: 1rem;
}

.modal-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.credit-card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credit-card-title {
  margin-bottom: 1rem;
}
.credit-card {
  max-width: 45rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(230, 238, 255);
  background: linear-gradient(
    145deg,
    rgb(239 243 251) 0%,
    rgb(215 228 255) 35%,
    rgb(178 194 228) 100%
  );
  box-shadow: 2px 2px 10px 0px rgb(34 60 80 / 18%);
  border-radius: 1.8rem;
  padding: 2rem;
  gap: 1rem;
}

.credit-numbers-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.order-button {
  all: unset;
  width: 100%;
  max-width: 16rem;
  padding: 1.6rem 3rem;
  margin-top: 2rem;
  background-color: var(--bg-color);
  color: var(--white-color);
  border-radius: 1.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.order-button:hover {
  opacity: 0.8;
}
