.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 35px;
  height: 20px;
  background: #e5e5e5;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked + .switch-label .switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch-label:active .switch-button {
  width: 20px;
}

.active {
  background: var(--bg-color);
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.option-input {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.option-label {
  color: var(--gray-color);
  font-size: 1.4rem;
  cursor: pointer;
}

.container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 100%;
}

.slider-track,
.slider-range,
.slider-left-value,
.slider-right-value {
  position: absolute;
}

.slider-track,
.slider-range {
  border-radius: 3px;
  height: 5px;
}

.slider-track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider-range {
  background-color: #90caa5;
  z-index: 2;
}

.slider-left-value,
.slider-right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider-left-value {
  left: 6px;
}

.slider-right-value {
  right: -4px;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 16%;
  outline: none;
}

.thumb-left {
  z-index: 3;
}

.thumb-right {
  z-index: 4;
}

.thumb-top {
  z-index: 5;
}

.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
