.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 35px;
  height: 20px;
  background: #e5e5e5;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.switch-button {
  content: '';
  position: absolute;
  top: 3px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked + .switch-label .switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch-label:active .switch-button {
  width: 20px;
}

.active {
  background: var(--bg-color);
}

.option {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}

.option-disabled {
  opacity: 0.3;
}

.option-input {
  display: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.option-label {
  color: var(--gray-color);
  font-size: 1.4rem;
  cursor: pointer;
}

.checkbox {
  position: relative;
  width: 2rem;
  height: 2rem;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  transition: 0.1s ease;
  cursor: pointer;
  display: block;
}

.checkbox:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 7px;
  height: 11px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.option-input:checked ~ .checkbox {
  border-color: transparent;
  background: #93d037;
  animation: jelly 0.6s ease;
}

.option-input:checked ~ .checkbox:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

.option-input:disabled ~ .option-label,
.option-input:disabled ~ .checkbox,
.option-input:disabled {
  cursor: default;
}

.container {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 95%;
}

.slider-track,
.slider-range,
.slider-left-value,
.slider-right-value {
  position: absolute;
}

.slider-track,
.slider-range {
  border-radius: 3px;
  height: 5px;
}

.slider-track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider-range {
  background-color: #90caa5;
  z-index: 2;
}

.slider-left-value,
.slider-right-value {
  color: var(--text-color);
  font-size: 12px;
  margin-top: 20px;
}

.slider-left-value {
  left: 6px;
}

.slider-right-value {
  right: -4px;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 90%;
  outline: none;
}

.thumb-left {
  z-index: 3;
}

.thumb-right {
  z-index: 4;
}

.thumb-top {
  z-index: 5;
}

.thumb::-webkit-slider-thumb {
  background-color: #90caa5;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
