.card-wrapper-table {
  width: 100%;
  max-width: 26rem;
  height: 46rem;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  border-radius: 1.4rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 0px 6px -1px rgba(34, 60, 80, 0.18);
}

.card-wrapper-list {
  width: 100%;
  height: fit-content;

  display: flex;
  gap: 2rem;

  border-radius: 1.4rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 0px 6px -1px rgba(34, 60, 80, 0.18);
}

.card-wrapper-table:hover,
.card-wrapper-list:hover {
  box-shadow: 0px 0px 26px -1px rgba(34, 60, 80, 0.18);
}

.card-info-table {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  gap: 0.6rem;
}

.img-table {
  width: 100%;
  display: none;
}

.img-list {
  height: 18rem;
  display: none;
}

.loaded-img {
  display: block;
}

.title {
  flex: 1;
  padding: 0 10px;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

.title-list {
  height: auto;
  padding: 0;
  text-align: left;
}

.stock {
  font-size: 1.4rem;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.button {
  all: unset;
  width: 100%;
  max-width: 12rem;
  padding: 0.8rem 3rem;
  margin-top: 0.8rem;

  background-color: var(--bg-color);
  color: var(--white-color);
  border-radius: 1.4rem;

  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;

  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}
