.filter-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 2.5rem;
  margin-right: 2rem;
}

.title {
  color: var(--gray-color);
  font-size: 1.4rem;
  margin-bottom: 2.3rem;
}

.field {
  width: 100%;
  height: 100%;
  border: 1px solid #e5e5e5;
}

.option {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
  padding: 1rem;
}

.in-stock {
  flex-direction: row;
  justify-content: space-between;
}
