@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  src: local(''), url('./assets/fonts/nunito-sans-v12-latin_cyrillic-200.woff2') format('woff2'),
    url('./assets/fonts/nunito-sans-v12-latin_cyrillic-200.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./assets/fonts/nunito-sans-v12-latin_cyrillic-regular.woff2') format('woff2'),
    url('./assets/fonts/nunito-sans-v12-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('./assets/fonts/nunito-sans-v12-latin_cyrillic-700.woff2') format('woff2'),
    url('./assets/fonts/nunito-sans-v12-latin_cyrillic-700.woff') format('woff');
}

:root {
  --text-color: #333333;
  --white-color: #ffffff;
  --gray-color: #7a7878;
  --light-gray-color: #e5e5e5;
  --bg-color: #44b76e;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;

  color: var(--text-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
